#useraccount {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#useraccdetails {
    width: 90%;
    height: 90%;
    max-width: 700px;
    /* max-height: 500px; */
    border-radius: 25px;
    box-shadow: 8px 8px 25px 1px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#useraccdetails p {
    width: 50%;
}

#useraccdetails p span {
    font-weight: bold;
}

#useraccdetails button {
    width: 120px;
    height: 40px;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: blue;
    color: white;
    font-size: 16px;
}

#useraccdetails button:hover {
    scale: 1.02;
}

#useraccdetails button {
    scale: 0.98;
}